@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-[#10172a];
  height: 100%;
  margin: 0;
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.wrapper {
  height: 100%;
}
.neon-green-shadow {
  box-shadow: 0 0 10px rgba(100, 255, 218, 0.5),
    0 0 20px rgba(100, 255, 218, 0.3), 0 0 30px rgba(100, 255, 218, 0.2);
}

.neon-green-shadow-text {
  text-shadow: 0 0 5px rgba(100, 255, 218, 0.5),
    0 0 10px rgba(100, 255, 218, 0.3), 0 0 15px rgba(100, 255, 218, 0.2);
}

.bubble {
  width: 250px; /* Dimensione della bolla */
  height: 250px;
  border-radius: 50%; /* Forma circolare */
  background: rgba(255, 255, 255, 0.03); /* Colore bianco con trasparenza */
  filter: blur(40px); /* Effetto sfocatura ridotto */
  -webkit-filter: blur(40px); /* Per supportare WebKit */
  transition: transform 0.15s ease-out; /* Movimento fluido */
  will-change: transform, filter;
  transform: translateZ(0); /* Forza accelerazione GPU */
}

.animated-element {
  opacity: 0;
  transform: translateY(50px); /* Default per far partire lo spostamento */
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

.vertical-text {
  writing-mode: vertical-rl;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
