@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-[#10172a];
  height: 100%;
  margin: 0;
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
/* .lista li{
  color:antiquewhite !important;
} */
/* Importazione dei font */
@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: url('/public/fonts/NeueHaasDisplayThin.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: url('/public/fonts/NeueHaasDisplayBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@keyframes zoom {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
.center-glow {
  filter: drop-shadow(0 0 10px rgba(100, 255, 218, 0.5));
}

.project-scroll
{
  margin-top: -100px !important; /* Margine superiore personalizzato */
}
#matrixCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.box-shadow-section-class
{
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4) !important;
}

.radial-connection-container {
  margin-top: -50px !important; /* Margine superiore personalizzato */
  margin-bottom: -100px !important; /* Margine inferiore personalizzato */
}

.animate-zoom {
  animation: zoom 2s infinite;
}
.inner-circle{
  background: #10172a !important;
  border-radius: 100%;
  width: 60px !important;
  height: 60px !important;
  display: flex;
  justify-content: center;
  border: 1px solid #64ffda;

}
.wrapper {
  height: 100%;
}
.neon-green-shadow {
  box-shadow: 0 0 10px rgba(100, 255, 218, 0.5),
    0 0 20px rgba(100, 255, 218, 0.3), 0 0 30px rgba(100, 255, 218, 0.2);
}

.neon-b-shadow {
  box-shadow: 0 0 10px rgba(235, 229, 212, 0.5),
    0 0 20px rgba(235, 229, 212, 0.3), 0 0 30px rgba(235, 229, 212, 0.2);
}
@media (max-width: 768px) {
  .gTLZXx {
    right: -20px !important;
    top: 230px !important;
  }
  .radial-connection-container{
    display: none !important;
  }
}

@media (min-width: 768px) {
  .gTLZXx {
    top: 330px !important;
  }
}
.neon-green-shadow-text {
  text-shadow: 0 0 5px rgba(100, 255, 218, 0.5),
    0 0 10px rgba(100, 255, 218, 0.3), 0 0 15px rgba(100, 255, 218, 0.2);
}

.bubble {
  width: 250px; /* Dimensione della bolla */
  height: 250px;
  border-radius: 50%; /* Forma circolare */
  background: rgba(255, 255, 255, 0.03); /* Colore bianco con trasparenza */
  filter: blur(40px); /* Effetto sfocatura ridotto */
  -webkit-filter: blur(40px); /* Per supportare WebKit */
  transition: transform 0.15s ease-out; /* Movimento fluido */
  will-change: transform, filter;
  transform: translateZ(0); /* Forza accelerazione GPU */
}

.animated-element {
  opacity: 0;
  transform: translateY(50px); /* Default per far partire lo spostamento */
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

.vertical-text {
  writing-mode: vertical-rl;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
